<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>hello</title>
    <%= erb :header %>
  </head>
  <body>
    <%= erb :navigation %>
    <div class="copy">
      about copy!!
    </div>
  </body>
</html>