<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>hello</title>
    <%= erb :header %>
  </head>
  <body>
    <%= erb :navigation %>
    <img id="zine-view" class="zine-cover" src="pages/zine0.jpg" />
  </body>
</html>