<div id="navigation-bar">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/"><img src="pic.jpg" height="157" width="125"></a></li>
    <li role="presentation"><a href="/about">About</a></li>
    <li role="presentation"><a href="/submit">Submit</a></li>
    <li role="presentation"><a href="/archive">Archive</a></li>
    <li role="presentation"><a href="/contact">Contact</a></li>
  </ul>
</div>