.nav-pills > li.active > a {
  background-color: rgb(241, 95, 95);
}

a {
  color: rgb(241, 95, 95);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: rgb(241, 95, 95);
}

#navigation-bar {
  margin-left: 40px;
  margin-top: 40px;
}

#zine-view {
  width: 1050px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.zine-cover {
  width: 550px !important;
  height: auto;
}